/**
Estilos
 */

.particleTitle {
  color: white;
  font-weight: bold;
  font-size: larger;
}

.particleTypeTitle {
  color: yellow;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-width: thin
}

.particleExplanation {


}

.particleUses {
  color: #888888;
  font-weight: bold;
}

.particleUsesBox {
  padding-left: 10px;
}

.particleOneWordUse {
  color: orange;
  font-weight: bold;
}

.particleOneWordUseExplanation {

}

.particleExamplesTitle {
  font-style: italic;
  color: aquamarine;
  border-bottom: solid;
  border-bottom-width: thin
}

.particleRelativeExamplesTitle {
  font-style: italic;
  color: aqua;
  border-bottom: solid;
  border-bottom-width: thin
}

.mapImg {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url("../img/mapuche_flag.svg");
}

.normalWordExample {
  cursor: pointer;
}

.particleExample1 {
  text-decoration: yellow underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.particleExample2 {
  text-decoration: orange underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.particleExample3 {
  text-decoration: blue underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.mainParticle {
  font-weight: bold;
}

.winkaExample {
  font-style: italic;
}

.flagSpan {
  padding-right: 3px;
  padding-top: 3px;
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}
.tooltip span {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip span {
  visibility: hidden;
  opacity: 1;
}

