/**
Estilos
 */

.searchBarWidget {
  position: fixed;
  height: 40pt;
  top: 0pt;
  left: 0pt;
  z-index: 100;
  background-color: #222222;
  display: table;
  width: 100vw;
}

.searchBarWhileResting {
  display: table-cell;
}

.searchBarWhileSearching {
  display: table-cell;

}

.searchBarItem {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.particleTitle {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.searchBarItemFill {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.searchIcon {
  display: table-cell;
  vertical-align: middle;
  background-color: #222222;
  text-align: center;
  width: 30pt;
  height: 40pt;
  padding-left: 8pt;
  padding-right: 8pt;
}

.searchBox {
  background-color: #222222;
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  width: 100%;
  height: 30px;
  color: #FFFFFF;
  font-size: medium;
}

.searchBox::-webkit-search-cancel-button{
  position:relative;
  -webkit-appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: cover;
  background-image: url("../img/cancel_text.svg");

}

.searchBox:focus {
  outline: none;
  background-color: #222222;
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  width: 100%;
  height: 30px;
  color: #FFFFFF;
}


.bulletColor {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;

}

.contentWidget {
  padding-top: 50pt;
  padding-left: 10px;
  padding-right: 10px;
}

.searchResultsWidget {
  padding-top: 50pt;
  display: table;
  width: 100%;
}

.searchResultsRow {
  display: table-row;
  height: 40px;
  width: 100%;
}

.searchVariations {
  color: #888888;
  font-style: italic;
}
.searchTitle {
  color: #AAA;
  font-style: italic;
}

.searchResultsCell {
  display: table-cell;
  height: 40px;
  background-color: black;
  width: 100%;
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom:1px solid white;
  padding-left: 10pt;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.particleTypeTitle {
  color: yellow;
  font-weight: bold;
  border-bottom: solid;
  border-bottom-width: thin
}

.particleContent {
  color: beige;
}

.particleUses {
  color: #888888;
  font-weight: bold;
}

.particleOneWordUse {
  color: orange;
  font-weight: bold;
}

.particleOneWordUseExplanation {

}

.particleMissing {
  text-decoration: gray underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
}

.particleExamplesTitle {
  font-style: italic;
  color: aquamarine;
  border-bottom: solid;
  border-bottom-width: thin
}

.particleRelativeExamplesTitle {
  font-style: italic;
  color: aqua;
  border-bottom: solid;
  border-bottom-width: thin
}

.mapImg {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url("../img/mapuche_flag.svg");
}

.normalWordExample {
  cursor: pointer;
}

.particleCurrent {
  font-weight: bold;
}

.particleExample {
  cursor: pointer;
}

.mainParticle {
  font-weight: bold;
}

.winkaExample {
  font-style: italic;
}

.flagSpan {
  padding-right: 3px;
  padding-top: 3px;
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltip span {
  visibility: hidden;
  width: 100px;
  background-color: #FFF;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #FFF transparent;
}

.tooltip span {
  visibility: hidden;
  opacity: 1;
}

.winkaExampleSpan {
}
